{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if project.creationDate %}{{ project.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if project.startDate %}{{ project.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finishdate</th>
                <td>{% if project.finishDate %}{{ project.finishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ project.budget }}</td>
            </tr>
            <tr>
                <th>Currentbudget</th>
                <td>{{ project.currentBudget }}</td>
            </tr>
            <tr>
                <th>Equipmentslist</th>
                <td>{{ project.equipmentsList }}</td>
            </tr>
            <tr>
                <th>Serviceslist</th>
                <td>{{ project.servicesList }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
